.biotext {
  width: 30%;
  position: absolute;
  left: 30%;
  top: 30%;
}
.title {
  color: #FFF;
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-bottom: 5%;
}
.bio {
  color: #FFF;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  /* font-weight: 400; */
}
.button-holder {
  /* float: right; */
  text-align: center;
  margin: 15% 4% 0;
}
.btn {
  /* float: right; */
  background: #0B66C2;
  color: #f6faff;
  text-decoration: none;
  font-weight: 800;
  padding: 8px 12px;
  border-radius: 8px;
  margin-bottom: 10%;
  letter-spacing: 1%;
}
.btn:hover {
  background-color: #297fd5;
}

#profile {
  position: absolute;
  top: 29%;
  left: 60%;
  max-width: 23%;
  border-radius: 50%;
  transform: translate(-94%, -50%);
  z-index: 100;
}


.rocket {
  position: absolute;
  top: 30%;
  left: 60%;
}
#rocketship {
  transform: rotateZ(-45deg);
}
