.biotext {
  width: 30%;
  position: absolute;
  left: 30%;
  top: 30%;
}
.title {
  color: #FFF;
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-bottom: 5%;
}
.bio {
  color: #FFF;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  /* font-weight: 400; */

}

#profile {
  position: absolute;
  top: 29%;
  left: 60%;
  max-width: 23%;
  /* max-height: 50%; */
  border-radius: 50%;
  transform: translate(-94%, -50%);
  z-index: 100;
}


.rocket {
  position: absolute;
  top: 30%;
  left: 60%;
  /* transform: translate( -50%, -50%) */
}
#rocketship {
  transform: rotateZ(-45deg)
}
