.nav-bar {
  z-index: 10;
  width: 100%;

  margin-left: 5%;
  margin-right: 5%;
  /* height: 100vh; */
  /* position: fixed; */
}
ul {
  /* width: 30%; */
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;

}
li {
  list-style: none;
  margin-top: 15%;
  display:flex;
  align-items: center;
  /* justify-content: center;
  flex-direction: column; */
}
a {
  text-decoration: none;
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 25px;
}

.planet {
  max-width: 25%;
  max-height: 25%;
  display: inline-block;
  margin-right: 30px;
}

.planet:hover {
  transform: translateY(-1em);
  animation: raise 0.3s ease;
  /* animation: tilt 0.5s ease; */
}

/* @keyframes tilt {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(45deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
} */

@keyframes raise {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-1em);
  }
}

@media only screen and (max-width: 850px){
  .nav-bar {
    width: 25%;
    height: 100%;
  }
  ul {
    flex-direction: column;
    justify-content: center;
  }
  li {
    justify-content: center;
    flex-direction: column;
  }
}